/* -------------------- 공통 스타일 파트 ----------------------- */
body,
html,
h1,
h2,
p,
div,
a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.zipup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    padding-top: 80px;
    max-width: 407px;
    min-height: 100vh;
    box-sizing: border-box;
}

.zipup-logo {
    width: 158px;
    height: 33px;
    margin-bottom: 53px;
}

.zipup-label {
    font-size: 23px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 15px;
    width: 100%;
}

.zipup-input {
    width: 407px;
    height: 42px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 16px;
}

#email.zipup-input {
    margin-bottom: 1px;
}

.zipup-input:focus {
    outline: none;
    border: 2px solid #3e71fe;
}

.zipup-btn {
    width: 407px;
    height: 51px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.zipup-btn:hover {
    background-color: #333;
}

.zipup-error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

/* -------------------- 판매자 제품 등록 파트 ----------------------- */

.seller-detail-container {
    display: grid;
    grid-template-columns: 411px 407px; /*열 배치 크기*/
    gap: 40px 35px; /*그리드 간격 row column*/
    justify-content: center;
    padding: 20px;
    align-items: start;
    grid-template-rows: auto; /* 행 크기 자동 조정 */
}

.seller-detail-container .bottom-section {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: span 2;
}

.seller-detail-container .seller-optionColor,
.seller-detail-container .seller-optionSize {
    width: 360px;
    height: 42px;
    border: 1px solid #999999;
    border-radius: 8px;
    padding: 12px;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 15px;
}

.seller-detail-container .seller-option-add-button1, .seller-detail-container .seller-option-add-button2, .seller-detail-container .seller-option-remove-button {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 8px;
    border: solid 1px #999999;
}

.seller-detail-container .seller-optionColor:focus,
.seller-detail-container .seller-optionSize:focus {
    border: solid 2px #3e71fe;
    outline: none;
}

/* 버튼 색상 동기화 */
.seller-detail-container .seller-option-add-button1:active {
    border: solid 2px #3e71fe;
    outline: none;
}

.seller-detail-container:has(.seller-option-add-button1:active) .plus-icon1 {
    content: url("/images/svg/plusBlue.svg")
}

.seller-detail-container .seller-option-add-button2:active {
    border: solid 2px #3e71fe;
    outline: none;
}

.seller-detail-container:has(.seller-option-add-button2:active) .plus-icon2 {
    content: url("/images/svg/plusBlue.svg")
}

.seller-detail-container .seller-option-remove-button:active {
    border: solid 2px #FA3C56;
    outline: none;
}

.seller-detail-container .option-disabled {
    opacity: 60%;
    pointer-events: none;
}


.seller-detail-container .product-image {
    display: flex;
    width: 411px;
    height: 411px;
    border: solid 1px gray;
    margin-top: 12px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.seller-detail-container .product-image:hover {
    border: solid 2px #3e71fe;
    color: #3e71fe;
    font-weight: bold;
    cursor: pointer;
}

.seller-detail-container .product-image #image {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    width: 411px;
    height: 411px;
    top: 0;
    left: 0;
    display: none;
}

.seller-detail-container .product-image span {
    pointer-events: none;
}

.seller-detail-container .product #price {
    appearance: none;
    -moz-appearance: textfield;
}

/*수정 중*/

.seller-detail-container .description-preview {
    width: 853px;
    height: auto;
    display: flex;
    margin: 30px auto 0;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}

.seller-detail-container .description-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.seller-detail-container .bottom-section .upload-description-image #description {
    opacity: 0;
    width: 100%;
    height: 51px;
    cursor: pointer;
    position: absolute;
    display: none;
    text-align: center;
}

.seller-detail-container .bottom-section .upload-description-image span {
    pointer-events: none;
}


.seller-detail-container .right-section {
    line-height: 40px;
}

.seller-detail-container .category {
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}

.seller-detail-container .category-btn {
    width: 100px;
    height: 31px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.seller-detail-container .category input[type="radio"] {
    display: none;
}

.seller-detail-container .category input[type="radio"]:checked + .category-btn {
    background-color: #3e71fe;
    color: white;
}

.seller-detail-container .upload-description-image {
    width: 100%;
    height: 51px;
    background-color: black;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.seller-detail-container .upload-description-image:hover {
    background-color: #333;
}

.seller-detail-container .upload-icon {
    padding-left: 8px;
    width: 20px;
}

.seller-detail-container .not-option-btn, .seller-detail-container .not-option-btn.color-restoration {
    width: 407px;
    height: 42px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 40px;
    font-size: 16px;
    background-color: white;
}

.seller-detail-container .option-container .not-option-btn.color-change {
    background-color: #3e71fe;
    color: white;
    border: none;
    cursor: pointer;
}

/* -------------------- 이용자 상세페이지 파트 ----------------------- */

.detail-container {
    display: grid;
    grid-template-columns: 411px 407px; /*열 배치 크기*/
    gap: 40px 35px; /*그리드 간격 row column*/
    justify-content: center;
    padding: 20px;
    align-items: start;
    grid-template-rows: auto; /* 행 크기 자동 조정 */
}

.detail-container .bottom-section {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: span 2;
}

.detail-container .product-image {
    display: flex;
    width: 411px;
    height: 411px;
    margin-top: 12px;
    background-color: #dddddd;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
}

.seller-detail-container .product-image .preview img {
    position: absolute;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 10; /*이미지 텍스트 위로 올라오게 설정*/
    top: 0;
    left: 0;
}

.detail-container .right-section {
    line-height: 40px;
}

.detail-container .right-section .seller-name,
.detail-container .right-section .won {
    font-size: 16px;
}

.detail-container .right-section .product-name {
    font-size: 23px;
}

.detail-container .right-section .price {
    font-size: 25px;
    font-weight: bold;
}

.detail-container .right-section .product-price {
    margin-top: 32px;
    margin-bottom: 15px;
}

.detail-container .option-select-btn {
    margin: 20px 0;
}

.detail-container .line {
    border: 1px solid #ddd;
}

.detail-container .options .option-select {
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    width: 407px;
    height: 42px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 16px;
}

.detail-container .total-price {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.detail-container .total-price .total-price-div {
    text-align: right;
    color: #FA3C56;
}

.detail-container .option-label {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 15px;
    width: 100%;
}

.detail-container .description {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------------- 구매 완료 페이지 -------------------- */

.pc-container {
    width: 100%;
    max-width: 407px;
    margin: 50px auto;
    text-align: center;
}

.pc-container .shopping_icon {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
}

.pc-container .completed-text {
    color: #3e71fe;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.pc-container .pc-hr {
    border: 1px solid #777777;
    margin-top: 25px;
}

.pc-container .info-hr {
    border: 1px solid #777777;
    grid-column: 1 / -1; /* 그리드의 첫 번째 열에서 마지막 열까지 병합 */
    width: 100%; /* 병합된 상태에서도 가로 길이를 유지 */
    border-top: 1px solid #eaeaea;
}

.pc-container .info-grid {
    display: grid;
    grid-template-columns: 100px auto;
    gap: 8px;
    align-items: center;
}

.pc-container .announcement {
    text-align: left;
    margin-top: 20px;
}

.pc-container .user-info {
    background-color: white;
    padding: 15px;
    border: 1px solid #777777;
    border-radius: 8px;
    margin-bottom: 15px;
}

.pc-container .shipping-info {
    background-color: white;
    padding: 15px;
    border: 1px solid #777777;
    border-radius: 8px;
    margin-bottom: 15px;
}

.pc-container .info-label {
    font-size: 25px;
    color: black;
    font-weight: bold;
}


.pc-container .info-title {
    font-size: 15px;
    color: #808080;
}

.pc-container .info {
    font-size: 15px;
    color: black;
}

.pc-container .info-name {
    grid-column: 1 / -1;
    font-size: 18px;
    color: black;
}


.pc-container .info-option {
    grid-column: 1 / -1;
    font-size: 14px;
    color: #777777;
}

.pc-container .info-price {
    font-size: 25px;
    color: #FA3C56;
    font-weight: bold;
    text-align: right;
}

.pc-container .span-price {
    color: #FA3C56;
    font-size: 18px;
}