<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>로그인</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
<div class="zipup-container">
  <a th:href="@{/}">
  <img src="/images/svg/logo.svg" alt="ZIP UP" class="zipup-logo" />
    <a/>

  <form action="/login" method="post">
  <input name="email" type="email" placeholder="이메일" class="zipup-input" required/>
  <input name="password" type="password" placeholder="비밀번호" class="zipup-input" required/>
  <button class="zipup-btn">로그인</button>
    <p th:if="${error}" class="login-error-message" th:text="${error}"> </p>
  </form>

  <div class="login-button-group">
    <a href="../find/email">아이디 찾기</a>
    <a href="../find/password">비밀번호 찾기</a>
    <a href="../signup">회원가입</a>
  </div>
</div>
<div th:replace="layout/footer :: footer"></div>
</body>
</html>
