<!--판매자용 제품 등록 페이지-->
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>제품 등록하기</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<th:block th:replace="~{layout/header :: header}"></th:block>
<!-- 전체 컨테이너 -->
<div class="seller-detail-container">
    <!-- 좌측 상단 그리드 -->
    <div class="left-section">
        <div class="image">
            <label class="zipup-label">이미지</label>
            <div class="product-image">빈 공간을 클릭하여<br> 이미지를 추가해주세요</div>
        </div>
    </div>
    <!-- 우측 상단 그리드 -->
    <div class="right-section">
        <label class="zipup-label">카테고리</label>
        <div class="category">
            <button class="category-btn">OUTER</button>
            <button class="category-btn">TOP</button>
            <button class="category-btn">BOTTOM</button>
            <button class="category-btn">ACC</button>
        </div>
        <div class="product">
            <label class="zipup-label">상품 등록</label>
            <label>
                <input type="text" class="zipup-input" placeholder="상품명"/>
            </label>
            <label>
                <input type="text" class="zipup-input" placeholder="상품가격"/>
            </label>
        </div>
        <div class="options">
            <label class="zipup-label">상품 옵션 설정</label>
            <div class="option-container">
                <label>
                    <input type="text" class="seller-optionColor" placeholder="색상 옵션 추가"/>
                </label>
                <button class="seller-option-add-button1">
                    <span><img src="/images/svg/plusGray.svg" class="plus-icon1"></span>
                </button>
            </div>
            <div class="option-container">
                <label>
                    <input type="text" class="seller-optionSize" placeholder="사이즈 옵션 추가"/>
                </label>
                <button class="seller-option-add-button2">
                    <span><img src="/images/svg/plusGray.svg" class="plus-icon2"></span>
                </button>
                <button class="not-option-btn" >옵션 없음</button>
                <button class="zipup-btn">등록하기</button>
            </div>
        </div>
    </div>
    <!-- 하단 그리드 -->
    <div class="bottom-section">
        <form action = "/product/detail/${id}" method="post" onsubmit="return productAdd()">
        <button type="submit" class="upload-detail-image">상세페이지 등록 <img src="/images/svg/upload.svg" class="upload-icon" alt="업로드아이콘"></button>
        </form>
        <!-- 상세페이지 이미지 등록하기 전에는 형태 나타나지 않게 보여짐-->
        <div class="detail-image" hidden>상세페이지</div>
    </div>
</div>

<th:block th:replace="~{layout/footer :: footer}"></th:block>
</body>
</html>