<!--판매자용 제품 등록 페이지-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>productDetailUpload</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<header class="header">
    <div class="logo">
        <img src="/images/svg/logo.svg" alt="ZIP UP" class="hf-logo">
    </div>
    <nav class="nav">
        <a th:href="@{/all}" class="active">ALL</a>
        <a th:href="@{/outer}">OUTER</a>
        <a th:href="@{/top}">TOP</a>
        <a th:href="@{/bottom}">BOTTOM</a>
        <a th:href="@{/acc}">ACC</a>
    </nav>
    <div class="auth-links">
        <a th:href="@{/signup}">회원가입</a>
        <a th:href="@{/login}">로그인</a>
    </div>
</header>


<body>
<!-- 전체 컨테이너 -->
<div class="seller-detail-container">
    <!-- 좌측 상단 그리드 -->
    <div class="left-section">
        <div class="image">
            <label class="zipup-label">이미지</label>
            <div class="product-image">빈 공간을 클릭하여<br> 이미지를 추가해주세요</div>
        </div>
    </div>
    <!-- 우측 상단 그리드 -->
    <div class="right-section">
        <label class="zipup-label">카테고리</label>
        <div class="category">
            <button class="category-btn">OUTER</button>
            <button class="category-btn">TOP</button>
            <button class="category-btn">BOTTOM</button>
            <button class="category-btn">ACC</button>
        </div>
        <div class="product">
            <label class="zipup-label">상품 등록</label>
            <input type="text" class="zipup-input" type="text" placeholder="상품명"/>
            <input type="text" class="zipup-input" type="text" placeholder="상품가격"/>
        </div>
        <div class="options">
            <label class="zipup-label">상품 옵션 설정</label>
            <div class="option-container">
                <input type="text" class="seller-optionColor" type="text" placeholder="색상 옵션 추가"/>
                <button class="seller-option-add-button1">
                    <span><img src="../../assets/svg/plusGray.svg" class="plus-icon1"></span>
                </button>
            </div>
            <div class="option-container">
                <input type="text" class="seller-optionSize" type="text" placeholder="사이즈 옵션 추가"/>
                <button class="seller-option-add-button2">
                    <span><img src="../../assets/svg/plusGray.svg" class="plus-icon2"></span>
                </button>
                <button class="not-option-btn" >옵션 없음</button>
                <button class="zipup-btn">등록하기</button>
            </div>
        </div>
    </div>
    <!-- 하단 그리드 -->
    <div class="bottom-section">
        <button class="upload-detail-image">상세페이지 등록 <img src="../../assets/svg/upload.svg" class="upload-icon"></button>

        <!-- 상세페이지 이미지 등록하기 전에는 형태 나타나지 않게 보여짐-->
        <div class="detail-image" hidden>상세페이지</div>
    </div>
</div>
</body>
</html>